			html {
                height: 100%;
                width: 100%;
            }
      
            #feature {
                width: 1000px;
                margin: 95px auto 0 auto;
                overflow: auto;
            }
            #content {
				font-family: 'Roboto', sans-serif;
				font-weight: 900;
				font-size: 26px;
				color: #BD0100;
				float: left;
				width: 600px;
				margin-left: 0px;
				vertical-align: middle;
            }
            #sessao {
				
				color:#fff;
			   
				}            
            #content h1 {                
                font-family: 'Roboto', sans-serif;
                color: #BD0100;                
                font-weight: 300;                
                font-size: 70px;                
                line-height: 48pt;                
                width: 600px;           
                padding-bottom: 15px; 
                text-shadow: 2px 2px #525252;
            }
            aside {
                float:right;
            }
			nav a {
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				font-size: 20px;
				color: #ffffff;
				text-decoration: blink;
				padding: 10px 10px 10px 10px;
                margin-top: 20px;
				background-color: #BD0100;
                display: block;
                
				-webkit-border-top-left-radius:12px;
				-moz-border-radius-topleft:12px;
				border-top-left-radius:12px;
				-webkit-border-top-right-radius:12px;
				-moz-border-radius-topright:12px;
				border-top-right-radius:12px;
				-webkit-border-bottom-right-radius:12px;
				-moz-border-radius-bottomright:12px;
				border-bottom-right-radius:12px;
				-webkit-border-bottom-left-radius:12px;
				-moz-border-radius-bottomleft:12px;
				border-bottom-left-radius:12px;
			}